.orderpage__container{
    
    margin: 0 auto;
    margin-top: 29px;
   background-color:#f7f7f7;
}
.orderpage__container--wrapper{
    max-width: 980px;
    margin: 0 auto;
    padding: 20px;
    
}

.orderpage__container--wrapper__header{
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
    font-size: 25px;

}
.orderpage__container--wrapper__header--button{
    padding: 2px;
    font-size: 15px;
 
}
.orderpage__container--wrapper__header--button button{
    background-color: white;
    text-align: center;
    border-radius: 24px;
    border: none;
    padding: 12px;
}
.orderpage__container--wrapper__header--button button:hover{
    color: orangered;
    background-color: #ececec;
    border: none;
}
.orderpage__container--wrapper__body{
    background-color: white;
    border-radius: 10px;
    
}
.orderpage__container--wrapper__content{
    width: 100%;
    display: flex;
}
.orderpage__container--wrapper__content .banner_bottom{
    width: 100%;
}

.orderpage__container--wrapper__banner{
    min-height: 250px;
    width: 50%;
}

.orderpage__container--wrapper__body .banner_left{
    margin-right: 20px;
}

.orderpage__container--wrapper__banner--box{
    padding: 30px 40px 0 30px;
}
.orderpage__container--wrapper__banner--box .dashes__ruler{
    border-top: 3px dashed #bbb;
}
.orderpage__container--wrapper__banner--box__header{
    margin-bottom: 20px;
    display: flex;
    justify-content: space-between;
}
.orderpage__container--wrapper__banner--box__header .banner__box{
    font-weight: bolder;
}
.orderpage__container--wrapper__banner--box__header .button__box:hover{
    text-decoration: underline;
    color: orangered;
}
.orderpage__container--wrapper__banner--box__body--content__cart--detail .top{
    font-weight: bold;
}

.orderpage__container--wrapper__banner--box__body--content{
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px
}

.orderpage__container--wrapper__banner--box__body--content textarea{
    width: 100%;
    height: 100px;
    padding: 12px 20px;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 4px;
    background-color: #f8f8f8;
    resize: none;
}

/* cart */
.orderpage__container--wrapper__banner--box__body--content__cart{
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;

}

.orderpage__container--wrapper__banner--box__body--content__cart--detail{
    font-weight: bold;
   
}
.orderpage__container--wrapper__banner--box__body--content__cart--desc{
    width: 50%;
    display: flex;
    justify-content: space-between;
}

/* tic  ket  */

.orderpage__container--wrapper{

}
.orderTicket__wrapper{
    background-color: white;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgb(151, 151, 151);
}
.orderTicket__box{
padding: 20px;
}
.orderTicket__header{
    display: flex;
}
.orderTicket__header--avt{
    min-width: 60px;
    height: 60px;
    background-color: #bbb;
}
.orderTicket__header--content{
    margin-left: 10px;
}
.orderTicket__header--content__top{
display: flex;
justify-content: space-between;
}
.orderTicket__header--content__header{
    font-weight: bold;
}
.orderTicket__header--content__amount{
    padding: 10px;
    border: 1px solid #f7f7f7;
    border-radius: 5px;
}
.orderTicket__header--content__bottom{
  width: 80%;
}
.orderTicket__bottom{
display: flex;
width: 100%;
justify-content: end;
}
