.footer__layout--desktop {
    border-top: 1px solid var(--color-text-16);
    padding: 40px 0;
}

.layout__footerBanner--wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;


}

.footer__banner--left {
    display: flex;

    justify-content: space-between;


}

.footer__banner--title {
    font-size: var(--size-text-6);
    font-weight: 600;
    margin-bottom: 10px;
}

.footer__listUnit li {
    color: var(--color-text-2);
}

.footer__listUnit li p {
    font-size: var(--size-text-5);
}

.footer__banner {
    margin-right: 30px;
}

.footer__listUnit {
    font-weight: lighter;
}
.footer__map{
    border-radius: 20px;
}

@media only screen and (max-width: 1240px) {
    .layout__footerBanner--wrapper {
        padding: 0 30px;
    }

    .footer__listUnit li p {
        font-size: var(--size-text-5);
    }
}

@media only screen and (max-width: 850px) {
    .footer__banner--left {
        min-width: 50%;
        flex-wrap: wrap;

    }

    .footer__banner {
        margin-bottom: 30px;
    }


    .footer__map {
        width: 100%;
    }

}

@media only screen and (max-width: 830px) {
    .footer__banner--left {
        flex-direction: column;
        width: 100%;
    }

    .footer__banner {
        width: 100%;
    }

    .footer__map{
        height: 400px;
    }
}

@media only screen and (max-width: 580px) {
    .footer__banner--left {
        flex-wrap: wrap;

    }
    .footer__map{
        width: 100%;
    }
    .footer__banner{
        width: 100%;
    }
    .footer__banner:nth-child(1),
    .footer__banner:nth-child(2),
    .footer__banner:nth-child(3){
        border-bottom: 1px solid var(--color-text-16);
        margin-bottom: 10px;
    }
    .footer__banner{
        margin: 0;
        padding: 0 20px;
    }
    .layout__footerBanner--wrapper{
        padding: 0;
    }
}